* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 500ms ease;
    font-family: Inter;
    
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: bottom;
}
#play {
    font-family: Inter;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(18, 93, 255);
    border-radius: 5px;
    border: none;
    margin-top: 0.5rem;
    padding: 1rem 3rem 1rem 3rem;
}

#play:hover {
    background-color: #fff;
    color: rgb(18, 93, 255);
    border: rgb(18, 93, 255) 2px solid;
}

p {
    font-size: 1.8rem;
    color: black;
    text-align: center;
    margin-top: 1rem;
}